* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '微軟正黑體';
    letter-spacing: 1px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* 靠右對齊 */
    justify-content: flex-start;
    /* 靠上對齊 */
    height: 50vh;
    background-color: #f2f2f2;
    /* 背景顏色 */
}


#content {
    width: 50%;
    text-align: left;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}


/*------------------------------載入畫面--------------------------------------------*/
.loading_wrapper {
    background-color: #0c0c0c;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;

    .title__div {
        height: 40%;

        .title {
            color: rgb(255, 255, 255);
            font-size: 5rem;
            font-family: 'Impact';
        }
    }
}


.load {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}

.load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

.load :last-child {
    background: #193B48
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
}

/*------------------------------------------------文字動畫----------------------------------------------------------------*/
.animated {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

/*貝塞爾曲線是由四個點控制的：起點、終點和兩個控制點。在 CSS 中，起點和終點固定在 (0,0) 和 (1,1)，這代表動畫的開始和結束。
參數 (0.215, 0.61, 0.355, 1 )分別代表兩個控制點的坐標：
第一個控制點 (0.215, 0.61)
第二個控制點 (0.355, 1)
這些參數如何影響動畫：
第一個控制點主要影響動畫開始階段的加速度。例如，若第一個控制點的第二個坐標（y值）大於 0.5，則動畫在開始時會快速加速。
第二個控制點主要影響動畫結束階段的加速度。如果第二個控制點的 y 值等於 1，這意味著動畫在接近結束時達到其最終狀態之前的速度會加快。*/

@keyframes bounce {

    //from, 20%, 53%, to: 這些幀將元素的位置設置在原點，並設定動畫時間函數。
    from,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    //40%, 43%: 在這些幀中，元素向上移動 30px 並稍微放大（scaleY(1.1)），模擬彈跳向上的動作。

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -20px, 0) scaleY(1.1);
    }

    //70%: 元素再次向上移動 15px 並稍微放大（scaleY(1.05)）。

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

/*------------------------------------聊天室-----------------------*/
#chat_box {
    width: 100%;
    padding: 10px 10px 30px 50px;
}

.message_container {
    box-sizing: border-box;
    width: 100%;
    /* background-color: #ededed; */
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 垂直居中 */
    overflow-y: auto;
    /* 当内容超出容器高度时，显示滚动条 */
    padding: 10px 0px 10px 20px;

    &::-webkit-scrollbar {
        display: none;
        /* Chrome Safari 使聊天室滾輪消失 */
    }
}

#message {
    background-color: #d4dbcd;
    padding: 6px 10px 8px 10px;
    margin: auto;
    word-wrap: break-word;
    /* 自动换行 */
    display: inline-block;
    border-radius: 7px;
    max-width: 75%;
    /* 最大宽度 */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#message_date {
    padding: 20px 10px;
    margin-bottom: 10px;
    /* 设置消息间距 */
    word-wrap: break-word;
    /* 自动换行 */
    border-radius: 8px;
    max-width: 75%;
    /* 最大宽度 */
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #999;
    text-align: left;
}

#personal_message {
    background-color: #b9d7ec;
    padding: 6px 10px 8px 10px;
    margin: auto;
    word-wrap: break-word;
    /* 自动换行 */
    display: inline-block;
    border-radius: 7px;
    max-width: 75%;
    /* 最大宽度 */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#personal_message_date {
    padding: 20px 10px;
    margin-bottom: 10px;
    /* 设置消息间距 */
    word-wrap: break-word;
    /* 自动换行 */
    border-radius: 8px;
    max-width: 75%;
    /* 最大宽度 */
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #181818;
    text-align: left;
}

/*--------------------輸入框------------------------------------------------------*/
#input_box {
    justify-content: space-between;
    /* 按鈕和輸入框之間的間距 */
    display: flex;
    width: 70%;
    position: sticky;
    /* 使用固定定位 */
    bottom: 20px;
    /* 距离底部的距离 */
    align-items: center;
    /* 垂直居中 */
}

#message_input {
    display: none;
    height: 50px;
    width: 450px;
    padding: 20px 20px;
    /* 输入框內邊距 */
    border: 3px solid #ccc;
    /* 輸入框邊框大小 */
    border-radius: 20px;
    /* 输入框邊框原角 */
    font-size: 16px;
    /* 输入框字體大小 */
    outline: none;
    /* 去除输入框聚焦時的外邊框 */
    transition: 0.2s;
    /* 邊框顏色過度效果 */
    border-color: #d7d5d5;

    &:hover {
        border-color: #7b7a7a99;
        /* 輸入框輸入時旁的顏色 */
        transition: 0.2s;
        /* 邊框顏色過度效果 */
    }

    &:focus {
        border-color: #d3e3fd;
        /* 輸入框聚焦石的顏色 */
        box-shadow: 0px 0px 5px 1px #d3e3fd;
        /* 輸入框聚焦時的陰影效果 */
        transition: 0.2s;
        /* 邊框顏色過度效果 */
    }

}

#send_button {
    display: none;
}


/*--------------------遊戲介面----------------------------------------*/
#blocker {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    // display: -webkit-box;
    // display: -moz-box;
    // -webkit-box-orient: horizontal;
    // -moz-box-orient: horizontal;
    // box-orient: horizontal;
    // -webkit-box-pack: center;
    // -moz-box-pack: center;
    // box-pack: center;
    // -webkit-box-align: center;
    // -moz-box-align: center;
    // box-align: center;

}

#instruction_container {
    padding: 30px;
    min-width: 100vh;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    justify-content: center;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    z-index: 10000;
    gap: 20px;
}

#canvas {
    width: 100vw;
    height: 100vh;
}

#crosshair {
    display: none;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    pointer-events: none;
    left: calc(50% - 10px);
    top: calc(50% - 10px);

    &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/*------------關閉按鈕---------------------*/
.close {
    color: #5d6e95;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    height: 2.5rem;
    cursor: pointer;
    transition: .2s;
    position: absolute;
    width: 2.5rem;
    top: 10px;
    right: 10px;

    &:hover {
        transition: .2s;
        background-color: #c6dbfe;
    }
}

/*------------主選單------------*/
#main_menu {
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    flex-direction: column;
    /*列表樣式為空*/
    transition: .2s;
    padding: 50px;
    gap: 10px;
    /*上右下左邊距 */


    .btn {
        width: 500px;
        height: 60px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 20px 60px;
        /*上右下左邊距 */
        transition: .2s;
        // border-radius: 5px;
        background-color: #a5a5a5af;
        box-shadow: #363636cb 5px 5px 5px;
        cursor: pointer;
        border-radius: 5px;
        border: none;

        a {
            cursor: pointer;
            color: #ffffff;
            font-weight: bold;
            font-family: '微軟正黑體';
            letter-spacing: 8px;
            font-size: 18px;
        }

        &:hover {

            transition: .2s;
            // height: 50px;
            text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 10px #69e0ff;
            background: linear-gradient(to right, #c9c9c9c5 10%, transparent 100%);
            /*background往上顯示顏色還有逐漸變透明位置和比例*/
            // background-color: #8d8c8c;
            font-size: 110%;
            transform: translate(-20px);

        }
    }
}


/****------------------------點擊模型出現跳窗----------------****/
.model_info {
    border: none;
    box-shadow: 2px 2px 10px 0px rgb(98, 98, 98);
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    position: fixed;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    left: 5px;
    text-align: center;

}

/*********拼字遊戲*********/
#WordleGame {
    font-family: Arial, sans-serif;
    /* 這裡是字型 */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
    z-index: 999;
    bottom: 5px;
    justify-self: center;

    #guess-grid {
        display: grid;
        grid-template-columns: repeat(5, 50px);
        /* 網格大小 */
        gap: 5px;
        margin-top: 20px;
    }

    .letter-box {
        width: 50px;
        height: 50px;
        border: 1px solid #333;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #333;
    }

    .correct {
        background-color: #6aaa64;
        /* 綠色，有字母且位置正確 */
        color: #fff;
    }

    .present {
        background-color: #c9b458;
        /* 黃色，有字母但位置錯誤 */
        color: #fff;
    }

    .absent {
        background-color: #787c7e;
        /* 灰色，沒有這個字母 */
        color: #fff;
    }

    /* --------------------虛擬鍵盤-------------------- */
    #keyboard {
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;
        gap: 5px;
        margin-top: 20px;
    }

    .key {
        width: 50px;
        height: 50px;
        /* background-color: #d3d6da; 虛擬鍵盤的顏色由JS文件控制 */
        border: 1px solid #333;
        color: #333;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}