/*----------------------自訂變數----------------------*/
:root {
    --text-color: #040406;
    --title_color: #040406af;
    --input_color: #757575;
    --info-color: #6a6a6a;
    --notice-color: #949595;
    --message-text-hover-color: var(--text-color);
    --message-icon-hover-color: #050505;
    --message-item-name-color: #6b6b6b;
    --message-item-background-color: #cecece;
    --message-item-img-width: 280px;
    --message-item-avatar-width: 50px;
    --message-item-avatar-margin: 15px;
    --message-menu-background-color: #e0e1e2;
    --menu-text-color: #afaeb3;
    --menu-icon-background-color: #e3e3e3;
    --menu-btn-hover: #e4d89b;
    --meni-icon-shadow: 0 0 0px 5px rgba(255, 255, 255, .8);
    --border-color: #595556;
    --border-hover-color: #b5b5b5;
    --box-background-color: #ffffffbc;
    --menu-border: 3px solid var(--border-color);
    --menu-border-hover: 3px solid var(--border-hover-color);
    --menu-border-highlight: 3px solid #f3f4f6;
    --option-background-color: #ece9ec;
    --option-background--hover-color: #ccc;
    --avatar-background: #3a3a3a;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    background: #908f8f
}

::-webkit-scrollbar-track {
    margin: 20px 0;
    background: #d4d2d2
}

/*----------------------全域設定----------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '微軟正黑體';
    letter-spacing: 1px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* 靠右對齊 */
    justify-content: flex-start;
    /* 靠上對齊 */
    height: 50vh;
    background-color: #f2f2f2;
    /* 背景顏色 */
}


/*------------------------------載入畫面--------------------------------------------*/
.loading_wrapper {
    background-color: #0c0c0c;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;

    .title__div {
        height: 40%;

        .title {
            color: rgb(255, 255, 255);
            font-size: 5rem;
            font-family: 'Impact';
        }
    }
}


.load {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}

.load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

.load :last-child {
    background: #193B48
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
}

/*------------------------------------------------文字動畫----------------------------------------------------------------*/
.animated {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

/*貝塞爾曲線是由四個點控制的：起點、終點和兩個控制點。在 CSS 中，起點和終點固定在 (0,0) 和 (1,1)，這代表動畫的開始和結束。
參數 (0.215, 0.61, 0.355, 1 )分別代表兩個控制點的坐標：
第一個控制點 (0.215, 0.61)
第二個控制點 (0.355, 1)
這些參數如何影響動畫：
第一個控制點主要影響動畫開始階段的加速度。例如，若第一個控制點的第二個坐標（y值）大於 0.5，則動畫在開始時會快速加速。
第二個控制點主要影響動畫結束階段的加速度。如果第二個控制點的 y 值等於 1，這意味著動畫在接近結束時達到其最終狀態之前的速度會加快。*/

@keyframes bounce {

    //from, 20%, 53%, to: 這些幀將元素的位置設置在原點，並設定動畫時間函數。
    from,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    //40%, 43%: 在這些幀中，元素向上移動 30px 並稍微放大（scaleY(1.1)），模擬彈跳向上的動作。

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -20px, 0) scaleY(1.1);
    }

    //70%: 元素再次向上移動 15px 並稍微放大（scaleY(1.05)）。

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

/*------------------------------------聊天室-----------------------*/
#content {
    position: absolute;
    top: 10%;
    left: 900px;
    z-index: 10;
    width: 450px;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #737373;
    display: none;

    /*----------------裝飾線-----------------*/
    &:after {
        position: absolute;
        border-radius: 20px;
        bottom: -15px;
        left: -15px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 3px solid rgb(193, 193, 193);
        content: "";
        pointer-events: none;
        clip-path: polygon(0 0, 10px 0, 100% calc(100% - 10px), 100% 100%, 0 100%)
    }


    .message_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: var(--box-background-color);
        box-shadow: 0 0 5px 3px #a5a5a5;
        backdrop-filter: blur(20px);

        /*----------------標題-------------------------*/
        .header {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            padding: 30px 30px;
            width: 100%;
            height: 70px;
            border-bottom: 3px solid rgba(150, 150, 150, .5);

            .title {
                width: 100%;
                margin-left: 15px;
                border: none;
                background: transparent;
                color: var(--title_color);
                font-size: 24px;
                font-weight: 500;
                font-family: "Microsoft YaHei";
            }
        }

        /*----------------輸入框------------------*/
        #input_box {
            position: relative;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0 30px;
            width: 100%;
            height: 80px;
            border-top: var(--menu-border-hover);
            background: var(--message-menu-background-color);
            border-radius: 0 0 20px 20px;

            .avatar {
                position: absolute;
                top: 50%;
                left: 0;
                overflow: hidden;
                box-sizing: border-box;
                margin-left: 10px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #c2c2c2;
                transform: translateY(-50%);
                -webkit-user-select: none;
                user-select: none;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: var(--avatar-background);
                    object-fit: contain;
                    clip-path: var(--avatar-image-clip-path-bilibiliwiki-only)
                }

                &:hover {
                    box-shadow: 5px 5px 15px #aaa
                }
            }

            #message_input {
                flex: 1;
                padding: 0 40px 0 40px;
                height: 50px;
                outline: none;
                border: none;
                background: #ffffff;
                color: var(--input_color);
                text-align: center;
                font-size: 24px;
                transition: box-shadow .2s;

                &:focus,
                &:hover {
                    box-shadow: 0 3px 3px #aaa
                }
            }

            #send_button {
                display: none;
            }

        }
    }

    /*----------------聊天室內容-----------------*/
    #chat_box {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        overflow-y: overlay;
        margin: 0 10px 0 10px;
        padding: 15px 0;
        scrollbar-gutter: stable;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        -webkit-mask-position: 0 0, 100% 0;
        mask-position: 0 0, 100% 0;
        -webkit-mask-repeat: no-repeat, no-repeat;
        mask-repeat: no-repeat, no-repeat;

        .message {
            display: flex;
            box-sizing: border-box;
            padding: 15px 30px;
            height: -moz-fit-content;
            height: fit-content;
            position: relative;
            width: calc(100% - 5px);


            .message_item {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: flex-start;
                min-height: 150px;
                max-width: calc(100% - var(--message-item-avatar-width) - var(--message-item-avatar-margin));
            }

            #message_box {
                position: relative;
                margin-bottom: 10px
            }

            #message {
                background-color: #d4dbcd;
                padding: 6px 10px 8px 10px;
                margin: auto;
                word-wrap: break-word;
                /* 自动换行 */
                display: inline-block;
                border-radius: 7px;
                max-width: 75%;
                /* 最大宽度 */
                word-wrap: break-word;
                overflow-wrap: break-word;
            }

            #message_date {
                padding: 20px 10px;
                margin-bottom: 10px;
                /* 设置消息间距 */
                word-wrap: break-word;
                /* 自动换行 */
                border-radius: 8px;
                max-width: 75%;
                /* 最大宽度 */
                font-size: 12px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                color: var(--message-item-name-color);
                text-align: left;
            }

            #personal_message {
                display: block;
                margin-top: 10px;
                padding: 15px 15px;
                min-width: 20px;
                min-height: 30px;
                width: -moz-fit-content;
                width: fit-content;
                border-radius: 0 15px 15px;
                background: #dbf1ff;
                box-shadow: -2px 2px #9d9f9f;
                color: var(--text-color);
                word-break: break-word;
                font-size: 18px;
                font-family: "Microsoft YaHei";

            }

            #personal_message_date {
                padding: 15px 10px;
                /* 设置消息间距 */
                word-wrap: break-word;
                /* 自动换行 */
                max-width: 75%;
                /* 最大宽度 */
                font-size: 12px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                color: var(--message-item-name-color);
                text-align: left;
            }

            .name {
                position: relative;
                max-width: calc(100% - var(--message-item-avatar-width) - var(--message-item-avatar-margin) - 10px);
                width: -moz-fit-content; // for firefox
                width: fit-content; //代表會根據其內容的寬度來自動調整大小
                color: var(--message-item-name-color);
                font-size: 22px;

            }

            .name span {
                display: block;
                overflow: hidden; //超過容器尺寸就隱藏
                text-overflow: ellipsis; //如果文字超出容器尺寸，則用省略号表示
                white-space: nowrap;
            }

        }
    }
}

/*--------------------遊戲介面------------------------------------------------------*/
#blocker {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

#canvas {
    width: 100vw;
    height: 100vh;
}

#crosshair {
    display: none;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    pointer-events: none;
    left: calc(50% - 10px);
    top: calc(50% - 10px);

    &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


/****------------------------點擊模型出現跳窗----------------****/
.model_info {
    border: none;
    box-shadow: 2px 2px 10px 0px rgb(98, 98, 98);
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    width: 300px;
    position: fixed;
    color: #ffffff;
    /* 或 absolute，取決於需求 */
    bottom: 5px;
    left: 5px;

}